<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <!-- Ghi log ra console -->
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level:uppercase=true} ${message}" />

    <!-- Ghi log ra file -->
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${level:uppercase=true} ${message}"
            keepFileOpen="false"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>